parameters:
    level: 7

    checkMissingIterableValueType: false

    ignoreErrors:
        - "#Cannot cast .*CortexPE\\Commando\\args\\BaseArgument to.*#"
        - "#Binary operation .* between .* and.*CortexPE\\Commando\\args\\BaseArgument.*#"
        - "#Call to an undefined method .*::cancel.*#"

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src
        - phar:///source/vendor/customui.phar/src
        - phar:///source/vendor/apibossbar.phar/src
        - phar:///source/vendor/Commando.phar/src
        - phar:///source/vendor/libschematic.phar/src
        - phar:///source/vendor/InvMenu.phar/src
    excludes_analyse:
        - source/vendor